<svg viewBox="0 -25 200 60">
  <title>Redux pattern</title>
  <desc>
    A store dispatches an action.
    The action is processed by a Reducer.
    The Reducer changes the state.
    Side effects are triggered, UI changes for example.
    Repeat.
  </desc>
  <g class="shapes" fill="deeppink" fill-opacity="0.2" stroke="currentColor">
  <rect x="10" y="-10" width="40" height="20" />
  <rect x="80" y="-10" width="40" height="20" />
  <rect x="150" y="-10" width="40" height="20" />
  </g>
  <g class="arrows" stroke-linejoin="round">
    <path d="M50 0h30l-5-5m5 5l-5 5" stroke="#000" fill="none"/>
    <path d="M120 0h30l-5-5m5 5l-5 5" stroke="#000" fill="none"/>
    <path d="M170 10v10H30v-10l 5 5m-5 -5l-5 5" fill="none" stroke="#000"/>
  </g>
  <g class="text" fill="#000" font-size="5" text-anchor="middle" font-family="sans-serif">
    <text x="30" y="1.5">Store</text>
    <text x="100" y="-2">processed by</text>
    <text x="100" y="4">Reducer</text>
    <text x="170" y="1.5">Side effects</text>
    <text x="65" y="-13">dispatch event</text>
    <text x="135" y="-13">update state</text>
    <text x="100" y="26">and repeat</text>
  </g>
</svg>
